.container {
    background-color: black;
}

.box {
    background-color: gold;
    transition-delay: in;
}

@keyframes {
    0% {

    }
    25% {

    }
    50% {

    }
    75% {

    }
    100% {

    }
}